* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Kalnia', serif; */
  /* font-family: 'Manrope', sans-serif; */
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}

body{
    background-color: black;
}
